.marquee-container {
  position: relative;
  overflow: hidden;
  background-color: #313131;
  color: white;
  height: 2.5rem;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  animation: scroll-marquee 15s linear infinite;
}

.marquee-text {
  padding-right: 2rem;
  /* Optional spacing between repeats */
}

@keyframes scroll-marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee-container:hover .marquee-track {
  animation-play-state: paused;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* sm: 640px */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md: 768px */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg: 1024px */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl: 1280px */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl: 1400px */
@media (min-width: 1536px) {
  .container {
    max-width: 1400px;
  }
}


.marquee-track,
.marquee-track-reverse {
  display: flex;
  width: max-content;
  gap: 1rem;
}

.marquee-track {
  animation: scroll-left 10s linear infinite;
}

.marquee-track-reverse {
  animation: scroll-right 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-25%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0);
  }
}


.perspective {
  perspective: 1000px;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}


/* styles/global.css or tailwind.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
